
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Logo</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

    {% if time_taken %}
    <div class="container text-center">
        <h3>Time taken: {{time_taken}}</h3>
    </div>
    {% endif %}
    {% if compared_logo %}
    <div class="container ">
        <img width="100" class="my-4" id="compared_img" src="https://100091.pythonanywhere.com/media/{{compared_logo}}" alt={{compared_logo}}/>
        <p id="size_compared"></p>
        <!--<script>-->
        <!--    var output = document.querySelector("#size_compared");-->
        <!--    var image = document.querySelector("#compared_img");-->

        <!--    console.log(image.naturalWidth);-->

        <!--    window.addEventListener("load", (event) => {-->
        <!--        $("#size_compared").append("width X height: "+image.naturalWidth+ " X "+ image.naturalHeight);-->
        <!--    });-->
        <!--</script>-->
    </div>
    {% endif %}

    {% if content %}
    <div class="container text-center">
        <h3 class="mb-5">The matched logos in order are:</h3>
        <div class="row">
            {% for val in content %}
                <div class="col-6 col-md-4">
                    <img id="img{{ forloop.counter }}" width="120" src="https://100091.pythonanywhere.com/media/logos/{{val.1}}" alt={{val.1}}/>
                    <p>{{val.0}}</p>
                    <p class="img{{ forloop.counter }}"></p>
                </div>
            {% endfor %}

            // <script>

            //             var output = document.querySelector(".img{{forloop.counter}}");
            //             var image = document.querySelector("#img{{forloop.counter}}");

            //             console.log(image.naturalWidth, image.naturalHeight);

            //             window.addEventListener("load", (event) => {
            //                 $(".img{{forloop.counter}}").append("width X height: "+image.naturalWidth+ " X "+ image.naturalHeight);
            //             });

            //     </script>

        </div>
    </div>
    {% endif %}

    <form class="container mt-5" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>
